language: python
python:
  - 3.7
  - 3.6
  - 3.5
  - 3.4

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox-travis
pip install -r requirements.txt

# Command to run tests, e.g. python setup.py test
script: tox


